<div class="container" ng-init="ellipsis = '.'.repeat(30)">

  <div class="row">
  
    <div class="col-sm-12">
      <h1>
        {{ recipe.name || "Nouvelle recette" }}
        <small ng-if="recipe.style.name">{{ recipe.style.name }}</small>
      </h1>
      <dl class="dl-horizontal">
        <dt>Date de brassage</dt>
        <dd>{{ ellipsis }}</dd>
      </dl>
      <p style="white-space: pre-line;" class="text-muted"
         ng-if="recipe.description" ng-bind="recipe.description"></p>
    </div>

    <div class="col-sm-12">
      <h2>Profil</h2>
    </div>

    <div class="col-sm-6">
      <h4>Estimé</h4>
      <dl class="dl-horizontal">
        <dt>Volume final</dt>
        <dd>{{ recipe.finalVolume | volume }}</dd>
        <dt>Densité originale</dt>
        <dd>{{ calc.originalGravity(recipe, equipment) | density }}</dd>
        <dt>Densité finale</dt>
        <dd>{{ calc.finalGravity(recipe, equipment) | density }}</dd>
        <dt>Alcool</dt>
        <dd>{{ calc.abv(recipe, equipment) | abv }}</dd>
        <dt>Amertume</dt>
        <dd>{{ calc.recipeBitterness(recipe, equipment) | ibu }}</dd>
        <dt>Couleur</dt>
        <dd>{{ calc.recipeColor(recipe, equipment) | color }}</dd>
      </dl>
    </div>
    
    <div class="col-sm-6">
      <h4>Observé</h4>
      <dl class="dl-horizontal">
        <dt>Volume final</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Densité originale</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Densité finale</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Alcool</dt>
        <dd>{{ ellipsis }}</dd>
      </dl>
    </div>
    
    <div class="col-sm-12">
      <h2>Brassage</h2>
    </div>

    <div class="col-sm-6">
      <h4>Estimé</h4>
      <dl class="dl-horizontal">
        <dt>Points de densité (à 100°C)</dt>
        <dd>{{ calc.recipeBoilGravityPoints(recipe, equipment) | number:0 }}</dd>
        <dt>Efficacité</dt>
        <dd>{{ equipment.mashEfficiency | efficiency }}</dd>
        <dt>Volume avant ébullition</dt>
        <dd>{{ calc.preBoilVolume(recipe, equipment) | volume }}</dd>
        <dt>Densité avant ébullition</dt>
        <dd>{{ calc.preBoilGravity(recipe, equipment) | density }}</dd>
        <dt>Volume après ébullition</dt>
        <dd>{{ calc.postBoilVolume(recipe, equipment) | volume }}</dd>
      </dl>
    </div>
    
    <div class="col-sm-6">
      <h4>Observé</h4>
      <dl class="dl-horizontal">
        <dt>Points de densité (à 100°C)</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Efficacité</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Volume avant ébullition</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Densité avant ébullition</dt>
        <dd>{{ ellipsis }}</dd>
        <dt>Volume après ébullition</dt>
        <dd>{{ ellipsis }}</dd>
      </dl>
    </div>
    
    <div class="col-sm-12">
      <h2>Ingrédients</h2>

      <p ng-hide="numberOfIngredients(recipe) > 0">Aucun ingrédient</p>

      <table class="table" ng-show="numberOfIngredients(recipe) > 0">
        <thead>
          <th class="col-sm-1"></th>
          <th class="col-sm-3">Nom</th>
          <th class="col-sm-1">Format</th>
          <th class="col-sm-1 text-right">%&alpha;</th>
          <th class="col-sm-2">Moment</th>
          <th class="col-sm-1 text-right">Durée</th>
          <th class="col-sm-1 text-right">Quantité</th>
          <th class="col-sm-1 text-right">%/IBU</th>
        </thead>
        <tbody>
          <!-- Fermentables -->
          <tr ng-repeat="item in recipe.fermentables | orderBy:['-weight','color','name'] track by $index">
            <td>
              <span class="form-control">
                <span class="glyphicon glyphicon-grain"
                      ng-style="{'color': (item.color | cssColor)}"></span>
              </span>
            </td>
            <td>
              <span class="form-control" ng-bind="item.name"></span>
            </td>
            <td colspan="2"></td>
            <td>
              <span class="form-control" ng-bind="ingredientsI18n.moments[item.moment]"></span>
            </td>
            <td></td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.weight"></span>
                <span class="form-control-feedback">kg</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right"
                      ng-bind="calc.fermentableGravityPercent(recipe, equipment, item) | number:0">
                </span>
                <span class="form-control-feedback">%</span>
              </div>
            </td>
          </tr>
          <!-- Hops -->
          <tr ng-repeat="item in recipe.hops | orderBy:['-time','weight','name'] track by $index">
            <td>
              <span class="form-control">
                <span class="glyphicon glyphicon-leaf" style="color: #8c8;"></span>
              </span>
            </td>
            <td>
              <span class="form-control" ng-bind="item.name"></span>
            </td>
            <td>
              <span class="form-control" ng-bind="ingredientsI18n.formats[item.format]"></span>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.aa"></span>
                <span class="form-control-feedback">%</span>
              </div>
            </td>
            <td>
              <span class="form-control" ng-bind="ingredientsI18n.moments[item.moment]"></span>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.time"></span>
                <span class="form-control-feedback">mn</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.weight"></span>
                <span class="form-control-feedback">g</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right"
                      ng-bind="calc.hopBitterness(recipe, equipment, item) | number:1">
                </span>
                <span class="form-control-feedback">IBU</span>
              </div>
            </td>
          </tr>
          <!-- Others -->
          <tr ng-repeat="item in recipe.others | orderBy:['-time','weight','name'] track by $index">
            <td></td>
            <td colspan="3">
              <span class="form-control" ng-bind="item.name"></span>
            </td>
            <td>
              <span class="form-control" ng-bind="ingredientsI18n.moments[item.moment]"></span>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.time"></span>
                <span class="form-control-feedback">mn</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right" ng-bind="item.weight"></span>
                <span class="form-control-feedback">g</span>
              </div>
            </td>
            <td></td>
          </tr>
          <!-- Yeast -->
          <tr ng-repeat="item in recipe.yeast track by $index">
            <td></td>
            <td colspan="7">
              <span class="form-control" ng-bind="item.name"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

