<h2>Équipement</h2>

<div class="row">
  <div class="col-md-6">
    <label>Taux d'évaporation</label>
    <div class="form-group">
      <div class="input-group">
        <input type="number" ng-model="equipment.boilRate" class="form-control" />
        <span class="input-group-addon">%/h</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label>Efficacité</label>
    <div class="form-group">
      <div class="input-group">
        <input type="number" ng-model="equipment.mashEfficiency" class="form-control" />
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </div>
</div>
