<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Beer Editor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="https://rawgit.com/homebrewing/brauhausjs/master/dist/brauhaus.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
  <script src="angular-brauhaus.js"></script>
  <script src="beer-editor.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="BeerEditorController">

<div class="container">

  <div class="text-right">
    <button class="btn btn-sm btn-danger" ng-click="clear()">Effacer</button>
  </div>

  <div class="form-group">
    <input placeholder="Titre" ng-model="recipe.name" class="form-control input-lg" />
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label>Volume final</label>
      <div class="form-group">
        <div class="input-group">
          <input type="number" step="any" ng-model="recipe.batchSize"
                 class="form-control" />
          <span class="input-group-addon">L</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <label>Durée de l'ébullition</label>
      <div class="form-group">
        <div class="input-group">
          <input type="number" step="any" ng-model="recipe.boilTime"
                 class="form-control"/>
          <span class="input-group-addon">mn</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <label>Volume ébu</label>
      <div class="form-group">
        <div class="input-group">
          <span ng-bind="calculations.boilSize" class="form-control" disabled></span>
          <span class="input-group-addon">L</span>
        </div>
      </div>
    </div>
  </div>

  <h2>Malts & sucres</h2>

  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="recipe.fermentables.push({});">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
    <div class="btn-group" ng-repeat="type in fermentablesTypes" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-plus-sign"></span>
        {{ type.name }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="f in fermentables | filter:type.filter">
          <a ng-click="recipe.fermentables.push(copy(f));">
            <span style="display: inline-block; width: 12px; height: 12px;"
              ng-style="{'background-color': bh.srmToCss(bh.ebcToSrm(f.color))}"></span>
            {{ f.name }}
          </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <table class="table" ng-show="recipe.fermentables.length > 0">
        <thead>
          <th></th>
          <th>Nom</th>
          <th>kg</th>
        </thead>
        <tbody>
          <tr ng-repeat="f in recipe.fermentables | orderBy:'-weight'">
            <td>
              <span style="display: inline-block; width: 12px; height: 12px;"
                ng-style="{'background-color': bh.srmToCss(bh.ebcToSrm(f.color))}"
                title="{{ f.color }} EBC"></span>
            </td>
            <td>
              <input class="form-control" ng-model="f.name" />
            </td>
            <td>
              <input type="number" step="any" class="form-control"
                     ng-model="f.weight" ng-model-options="{updateOn: 'blur'}" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <dl>
        <dt>Densité Initiale</dt>
        <dd>{{ calculations.og | number:3 }}</dd>
        <dt>Densité Finale</dt>
        <dd>{{ calculations.fg | number:3 }}</dd>
        <dt>Couleur</dt>
        <dd>
          <span style="display: inline-block; width: 12px; height: 12px;"
                ng-style="{'background-color': bh.srmToCss(calculations.color)}"></span>
          {{ bh.srmToEbc(calculations.color) | number:0 }} EBC
        </dd>
      </dl>
    </div>
  </div>

  <h2>Houblons & épices</h2>

  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="recipe.spices.push({});">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
    <div class="btn-group" ng-repeat="type in spicesTypes" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-plus-sign"></span>
        {{ type.name }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="s in spices | filter:type.filter">
          <a ng-click="recipe.spices.push(copy(s));"
             ng-bind="s.name"></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <table class="table" ng-show="recipe.spices.length > 0">
        <thead>
          <th>Nom</th>
          <th>%AA</th>
          <th>kg</th>
          <th>mn</th>
          <th>IBU</th>
        </thead>
        <tbody>
          <tr ng-repeat="s in recipe.spices | orderBy:'-time'">
            <td>
              <input class="form-control" ng-model="s.name" />
            </td>
            <td>
              <input type="number" step="any" class="form-control" ng-model="s.aa" />
            </td>
            <td>
              <input type="number" step="any" class="form-control" ng-model="s.weight" />
            </td>
            <td>
              <input class="form-control" ng-model="s.time" ng-model-options="{updateOn: 'blur'}" />
            </td>
            <td>{{ spiceBitterness(s, calculations) | number:1 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <dl>
        <dt>Amertume Absolue</dt>
        <dd>{{ calculations.ibu | number:1 }} IBU</dd>
        <dt>Amertume Relative</dt>
        <dd>{{ calculations.buToGu | number:1 }} BU:GU</dd>
      </dl>
    </div>
  </div>

  <h2>Équipement</h2>

  <label>Taux d'évaporation</label>
  <div class="form-group">
    <div class="input-group">
      <input type="number" ng-model="equipment.boilRate" class="form-control" />
      <span class="input-group-addon">%/h</span>
    </div>
  </div>

  <pre>{{ calculations | bhDebug }}</pre>

</div>


</body>
</html>
