<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Beer Editor</title>
  <link rel="stylesheet" href="external/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="external/angular.min.js"></script>
  <script src="external/brauhaus.min.js"></script>
  <script src="external/brauhaus-styles.min.js"></script>
  <script src="external/ui-bootstrap-tpls-1.3.2.js"></script>
  <script src="beer-editor.js"></script>
  <script src="range.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="BeerEditorController">

<div class="container">

  <div class="form-group">
    <input placeholder="Titre" ng-model="recipe.name" class="form-control input-lg" />
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <input placeholder="Description" class="form-control"
               ng-model="recipe.description" />
      </div>

      <div class="col-md-4">
        <div class="btn-group btn-group-justified">
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle style="text-align: right;">
              <span class="pull-left">{{ recipe.style.name || 'Choisir un style' }}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat-start="category in bh.getStyleCategories()"
                  class="dropdown-header">{{ category }}</li>
              <li ng-repeat-end ng-repeat="style in bh.getStyles(category)">
                <a ng-click="recipe.style = bh.getStyle(category, style)">
                  {{ style }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Malts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="item in fermentables">
          <a ng-click="addFermentable(recipe, item)">
            <span class="glyphicon glyphicon-grain"
                  ng-style="{'color': bh.srmToCss(bh.ebcToSrm(item.color))}"></span>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
    
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Houblons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="item in spices">
          <a ng-click="addSpice(recipe, item)">
            <span class="glyphicon glyphicon-leaf"
                  style="color: #afa;"></span>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
    
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Levures
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="item in yeast">
          <a ng-click="recipe.yeast.push(copy(item));">
            <span class="glyphicon glyphicon-record"
                  style="color: #aaa;"></span>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>

    <button class="btn btn-danger pull-right" ng-click="clear()">
      <span class="glyphicon glyphicon-remove"></span>
      Effacer
    </button>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <table class="table" ng-show="numberOfIngredients(recipe) > 0">
        <thead>
          <th class="col-md-1"></th>
          <th class="col-md-4">Nom</th>
          <th class="col-md-1">Format</th>
          <th class="col-md-1 text-right">%&alpha;</th>
          <th class="col-md-1">Moment</th>
          <th class="col-md-1 text-right">Durée</th>
          <th class="col-md-1 text-right">Quantité</th>
          <th class="col-md-1 text-right">%/IBU</th>
          <th class="col-md-1"></th>
        </thead>
        <tbody>
          <!-- Fermentables -->
          <tr ng-repeat="item in recipe.fermentables">
            <td>
              <span class="form-control">
                <span class="glyphicon glyphicon-grain"
                      ng-style="{'color': bh.srmToCss(bh.ebcToSrm(item.color))}"></span>
              </span>
            </td>
            <td>
              <input class="form-control" ng-model="item.name" />
            </td>
            <td colspan="4"></td>
            <td>
              <div class="has-feedback">
                <input type="number" step="any" class="form-control text-right"
                       ng-model="item.weight"
                       ng-blur="recipe.fermentables = orderBy(recipe.fermentables, ['-weight','color','name'])" />
                <span class="form-control-feedback">kg</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right">
                  {{ ((item.weight / recipeWeight(recipe) * 100) || 0) | number:0 }}
                </span>
                <span class="form-control-feedback">%</span>
              </div>
            </td>
            <td class="text-right">
              <div class="form-control">
                <a class="action text-danger" ng-click="remove(recipe.fermentables, item)">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
              </div>
            </td>
          </tr>
          <!-- Spices -->
          <tr ng-repeat="item in recipe.spices">
            <td>
              <span class="form-control">
                <span class="glyphicon glyphicon-leaf" style="color: #8c8;"></span>
              </span>
            </td>
            <td>
              <input class="form-control" ng-model="item.name" />
            </td>
            <td>
              <div class="form-control">
                <div class="btn-group btn-group-xs" uib-dropdown>
                  <button class="btn btn-default" uib-dropdown-toggle>
                    {{ spiceFormats[item.format] }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="(format, name) in spiceFormats">
                      <a ng-click="item.format = format">{{ name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <input type="number" step="any" class="form-control text-right"
                       ng-model="item.aa" />
                <span class="form-control-feedback">%</span>
              </div>
            </td>
            <td>
              <div class="form-control">
                <div class="btn-group btn-group-xs" uib-dropdown>
                  <button class="btn btn-default" uib-dropdown-toggle>
                    {{ spiceMoments[item.moment] }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="(moment, name) in spiceMoments">
                      <a ng-click="item.moment = moment">{{ name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <input type="number" step="any" class="form-control text-right"
                       ng-model="item.time"
                       ng-blur="recipe.spices = orderBy(recipe.spices, ['-time','weight','name'])" />
                <span class="form-control-feedback">mn</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <input type="number" step="any" class="form-control text-right"
                       ng-model="item.weight" />
                <span class="form-control-feedback">g</span>
              </div>
            </td>
            <td>
              <div class="has-feedback">
                <span class="form-control text-right">
                  {{ spiceBitterness(item, calculations) | number:1 }}
                </span>
                <span class="form-control-feedback">IBU</span>
              </div>
            </td>
            <td>
              <div class="form-control text-right">
                <a class="action text-danger" ng-click="remove(recipe.spices, item)">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
              </div>
            </td>
          </tr>
          <!-- Yeast -->
          <tr ng-repeat="item in recipe.yeast">
            <td>
              <span class="form-control">
                <span class="glyphicon glyphicon-record" style="color: #aaa;"></span>
              </span>
            </td>
            <td colspan="7">
              <input class="form-control" ng-model="item.name" />
            </td>
            <td>
              <div class="form-control text-right">
                <a class="action text-danger" ng-click="remove(recipe.yeast, item)">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>Volume final</label>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="recipe.batchSize" />
          <span class="form-control-feedback">L</span>
        </div>
      </div>
      <div class="form-group">
        <label>Densité initiale</label> {{ calculations.og | number:3 }}
        <range min="1.000" max="1.150"
               range-min="recipe.style.gu[0]"
               range-max="recipe.style.gu[1]"
               range-min-label="recipe.style.gu[0]|number:3"
               range-max-label="recipe.style.gu[1]|number:3"
               value="calculations.og"></range>
      </div>
      <div class="form-group">
        <label>Densité finale</label> {{ calculations.fg | number:3 }}
        <range min="1.000" max="1.150"
               range-min="recipe.style.fg[0]"
               range-max="recipe.style.fg[1]"
               range-min-label="recipe.style.fg[0]|number:3"
               range-max-label="recipe.style.fg[1]|number:3"
               value="calculations.fg"></range>
      </div>
      <div class="form-group">
        <label>Couleur</label> 
        <span style="display:inline-block; width: 1em; height: 1em;" class="pull-right"
              ng-style="{'background-color': bh.srmToCss(calculations.color)}"></span>
        {{ bh.srmToEbc(calculations.color) | number:0 }} EBC
        <range min="0" max="100"
               range-min="recipe.style.srm[0]"
               range-max="recipe.style.srm[1]"
               range-min-label="bh.srmToEbc(recipe.style.srm[0]) | number:0"
               range-max-label="bh.srmToEbc(recipe.style.srm[1]) | number:0"
               value="calculations.color"></range>
      </div>
      <div class="form-group">
        <label>Alcool</label> {{ calculations.abv | number:1 }}%
        <range min="0" max="15"
               range-min="recipe.style.abv[0]"
               range-max="recipe.style.abv[1]"
               range-min-label="recipe.style.abv[0] | number:1"
               range-max-label="recipe.style.abv[1] | number:1"
               value="calculations.abv"></range>
      </div>
      <div class="form-group">
        <label>Amertume</label> {{ calculations.ibu | number:1 }} IBU
        <range min="0" max="120"
               range-min="recipe.style.ibu[0]"
               range-max="recipe.style.ibu[1]"
               range-min-label="recipe.style.ibu[0] | number:1"
               range-max-label="recipe.style.ibu[1] | number:1"
               value="calculations.ibu"></range>
      </div>
      <div class="form-group">
        <label>Balance</label> {{ calculations.buToGu | number:1 }} BU:GU
        <range min="0" max="3" value="calculations.buToGu"></range>
      </div>
    </div>
  </div>

  <ng-include src="'equipment.html'"></ng-include>

</div>

</body>
</html>
