body {
  padding-top: 50px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

table.table > tbody > tr > td {
  padding: 0;
}

.table .form-control {
  border-width: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.table .form-control:focus {
  z-index: 10;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-lg {
  font-size: 36px;
  font-weight: bold;
  height: 64px;
}

.editable:not(:focus).ng-valid-required {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

.editable:not(:focus).ng-valid-required:hover {
  text-decoration: underline;
}

tr .action {
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
}

tr:hover .action {
  visibility: visible;
}

.dropdown-menu {
  cursor: pointer;
}

.has-feedback .form-control {
  padding-right: 36px;
}

.has-feedback .form-control-feedback {
  width: 40px;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 0;
}

.progress {
  position: relative;
}

.progress-bar-cursor {
  position: absolute;
  background-color: #000;
  width: 2px;
}

.progress-bar-range {
  background-color: #5cb85c;
  opacity: 0.3;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 70px;
  border-radius: 0;
  margin-bottom: 0;
}

.sidebar .navbar-nav {
  float: none;
  margin: 0 -15px;
}

.sidebar .navbar-nav li {
  float: none;
}

.sidebar-left {
  left: 0;
  border-width: 0 1px 0 0;
}

.sidebar-right {
  right: 0;
  border-width: 0 0 0 1px;
}

.content {
  padding-top: 20px;
}

.row.well:first-child {
  margin-top: -20px;
}

.row.well {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
