<!--<h2>Levures & bestioles</h2>-->

<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-default" ng-click="recipe.yeast.push({});">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </div>
  <div class="btn-group" ng-repeat="type in yeastTypes" uib-dropdown>
    <button class="btn btn-default" uib-dropdown-toggle>
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ type.name }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu>
      <li ng-repeat="y in yeast | filter:type.filter">
        <a ng-click="recipe.yeast.push(copy(y));"
           ng-bind="y.name"></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <table class="table table-bordered" ng-show="recipe.yeast.length > 0">
      <thead>
        <th>Nom</th>
        <th>Type</th>
        <th>Format</th>
        <th>Attenuation</th>
        <th class="col-md-1"></th>
      </thead>
      <tbody>
        <tr ng-repeat="y in recipe.yeast"
            ng-init="show=false" ng-mouseenter="show=true"
            ng-mouseleave="show=false">
          <td>
            <input class="form-control" ng-model="y.name" />
          </td>
          <td>
            <input class="form-control" ng-model="y.type" />
          </td>
          <td>
            <input class="form-control" ng-model="y.format" />
          </td>
          <td>
            <input class="form-control" ng-model="y.attenuation" />
          </td>
          <td>
            <button ng-click="remove(recipe.yeast, y)" ng-show="show"
                    class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <dl>
      <dt>Alcool</dt>
      <dd>{{ calculations.abv | number:1 }}%</dd>
    </dl>
  </div>
</div>
