<div class="form-group">
  <button class="btn btn-primary"
          ng-click="ingredients.others.create(copy(settings.defaults.other))">
    <span class="fa fa-plus-circle"></span>
    Nouvel ingrédient
  </button>
</div>

<table class="table">
  <thead>
    <th class="col-md-11">Nom</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    <tr ng-repeat="item in ingredients.others.items | orderBy:['name'] track by item.id">
      <td>
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }">
      </td>
      <td class="text-right">
        <div class="form-control">
          <a class="action text-danger" ng-click="remove(ingredients.others.items, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
