<div class="form-group">
  <button class="btn btn-primary" ng-click="create()">
    <span class="fa fa-plus-circle"></span>
    Nouvel équipement
  </button>
</div>

<p class="alert alert-info" ng-if="equipments.items.length == 0">
  Aucun équipement
</p>

<div class="list-group" ng-show="equipments.items.length != 0">
  <a class="list-group-item" ui-sref="equipments.equipment({id: item.id})"
     ng-repeat="item in equipments.items | orderBy:'-last_modified' track by item.id">
    <button class="text-danger action pull-right"
            ng-click="remove(item.id); $event.preventDefault(); $event.stopPropagation();"
            title="Supprimer l'équipement">
      <span class="fa fa-times-circle"></span>
    </button>
    <h4 class="list-group-item-heading">
      <span ng-if="item.name" ng-bind="item.name"></span>
      <em ng-if="!item.name">Nouvel équipement</em>
    </h4>
  </a>
</div>

