<div class="form-horizontal content">
  <div class="form-group">
    <label class="control-label col-md-4">Nom</label>
    <div class="col-md-2">
      <input class="form-control" ng-model="equipment.name" />
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Efficacité</label>
    <div class="has-feedback col-md-2">
      <input type="number" class="form-control text-right" ng-model="equipment.mashEfficiency" />
      <span class="form-control-feedback">%</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Durée de l'ébullition</label>
    <div class="has-feedback col-md-2">
      <input type="number" class="form-control text-right" ng-model="equipment.boilTime" />
      <span class="form-control-feedback">mn</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Pertes par ébullition</label>
    <div class="has-feedback col-md-2">
      <input type="number" class="form-control text-right" ng-model="equipment.boilLossRate" />
      <span class="form-control-feedback">%/h</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Pertes par refroidissement</label>
    <div class="has-feedback col-md-2">
      <input type="number" class="form-control text-right" ng-model="equipment.coolingLossRate" />
      <span class="form-control-feedback">%</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Pertes fixes après refroidissement</label>
    <div class="has-feedback col-md-2">
      <input type="number" class="form-control text-right" ng-model="equipment.lostVolume" />
      <span class="form-control-feedback">L</span>
    </div>
  </div>
</div>
