<div class="row">
  <div class="navbar navbar-default sidebar sidebar-fixed sidebar-left col-md-2">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="create()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Nouvelle recette
      </button>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="recipe in recipes.list" ui-sref-active-eq="active">
        <a ui-sref="recipes.recipe({id: recipe.id})">
          <button class="text-danger action pull-right" ng-click="remove(recipe); $event.stopPropagation();">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </button>
          {{ recipe.name || "Nouvelle recette" }}
        </a>
      </li>
    </ul>
  </div>
  <div class="content col-md-offset-2 col-md-10" ui-view></div>
</div>
