<div class="row">
  <div class="navbar navbar-default sidebar sidebar-fixed sidebar-left col-md-2">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="create()">
        <span class="fa fa-plus-circle"></span>
        Nouvelle recette
      </button>
    </div>
    <ul class="nav navbar-nav" ng-show="recipes.items.length != 0">
      <li ng-repeat="r in recipes.items | orderBy:'-last_modified' track by r.id"
          ui-sref-active-eq="active">
        <a ui-sref="recipes.recipe({id: r.id})">
          <button class="text-danger action pull-right"
                  ng-click="remove(r.id); $event.stopPropagation();">
            <span class="fa fa-times-circle"></span>
          </button>
          <span ng-if="r.name" ng-bind="r.name"></span>
          <em ng-if="!r.name">Nouvelle recette</em>
        </a>
      </li>
    </ul>
  </div>
  <div class="content col-md-offset-2 col-md-10" ui-view></div>
</div>
