<div class="row">
  <div class="navbar navbar-default sidebar sidebar-fixed sidebar-left col-md-2">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="create()">
        <span class="fa fa-plus-circle"></span>
        Nouvelle recette
      </button>
      <button class="btn btn-success" ng-click="recipes.sync()" ng-disabled="recipes.synchronizing">
        <span class="fa fa-refresh" ng-class="{'fa-spin':recipes.synchronizing}"></span>
        Synchroniser
      </button>
    </div>
    <div ng-show="recipes.items == undefined" class="text-muted">
      <span class="fa fa-spin fa-circle-o-notch"></span>
      Chargement en cours...
    </div>
    <ul class="nav navbar-nav" ng-show="recipes.items.length != 0">
      <li ng-repeat="r in recipes.items" ui-sref-active-eq="active">
        <a ui-sref="recipes.recipe({id: r.id})">
          <button class="text-danger action pull-right" ng-click="recipes.remove(r.id); $event.stopPropagation();">
            <span class="fa fa-times-circle"></span>
          </button>
          <span ng-if="r.name" ng-bind="r.name"></span>
          <em ng-if="!r.name">Sans nom</em>
        </a>
      </li>
    </ul>
  </div>
  <div class="content col-md-offset-2 col-md-10" ui-view></div>
</div>
