<div class="form-group yamm">
  <div class="btn-group yamm-fw" uib-dropdown on-toggle="query = ''">
    <button class="btn btn-default" uib-dropdown-toggle>
      <span class="fa fa-plus-circle"></span>
      Ingrédients
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu yamm-content" uib-dropdown-menu>
      <div class="row">
        <input type="text" ng-model="query" placeholder="Rechercher"
               class="form-control" ng-click="$event.stopPropagation()">
        <div class="row">
          <div class="col-sm-3">
            <h3 ng-bind="ingredients.i18n.fermentables"></h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.fermentables.items | filter:{name:query} | orderBy:'color'">
                <a ng-click="addFermentable(recipe, item)">
                  <span class="glyphicon glyphicon-grain"
                        ng-style="{'color': (item.color | cssColor)}"
                        title="{{ item.color | color }}"></span>
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 ng-bind="ingredients.i18n.hops"></h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.hops.items | filter:{name:query}">
                <a ng-click="addHop(recipe, item)">
                  <span class="glyphicon glyphicon-leaf"
                        style="color: #8c8;"></span>
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 ng-bind="ingredients.i18n.yeast"></h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.yeast.items | filter:{name:query}">
                <a ng-click="recipe.yeast.push(copy(item));">
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 ng-bind="ingredients.i18n.others"></h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.others.items | filter:{name:query}">
                <a ng-click="addOther(recipe, item)">
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-default" target="_blank"
          ui-sref="recipes.sheet({id: recipe.id})">
    <span class="fa fa-file-text-o"></span>
    Fiche de brassage
  </a>
</div>

<p class="alert alert-info" ng-hide="numberOfIngredients(recipe) > 0">
  Aucun ingrédient
</p>

<table class="table" ng-show="numberOfIngredients(recipe) > 0">
  <thead>
    <th class="col-md-1"></th>
    <th class="col-md-3">Nom</th>
    <th class="col-md-1">Format</th>
    <th class="col-md-1 text-right">%&alpha;</th>
    <th class="col-md-2">Moment</th>
    <th class="col-md-1 text-right">Durée</th>
    <th class="col-md-1 text-right">Quantité</th>
    <th class="col-md-1 text-right">%/IBU</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    <!-- Fermentables -->
    <tr ng-repeat="item in recipe.fermentables | orderBy:['-weight','color','name'] track by $index">
      <td>
        <span class="form-control">
          <span class="glyphicon glyphicon-grain"
                ng-style="{'color': (item.color | cssColor)}"
                title="{{ item.color | color }}"></span>
        </span>
      </td>
      <td>
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td colspan="2"></td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              <span ng-bind="ingredients.i18n.moments[item.moment]"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="moment in ingredients.fermentableMoments">
                <a ng-click="item.moment = moment"
                   ng-bind="ingredients.i18n.moments[moment]"></a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td></td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">kg</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <span class="form-control text-right">
            {{ calc.fermentableGravityPercent(recipe, equipment, item) | number:0 }}
          </span>
          <span class="form-control-feedback">%</span>
        </div>
      </td>
      <td class="text-right">
        <div class="form-control">
          <a class="action text-danger" ng-click="remove(recipe.fermentables, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Hops -->
    <tr ng-repeat="item in recipe.hops | orderBy:['-time','weight','name'] track by $index">
      <td>
        <span class="form-control">
          <span class="glyphicon glyphicon-leaf" style="color: #8c8;"></span>
        </span>
      </td>
      <td>
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              <span ng-bind="ingredients.i18n.formats[item.format]"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="format in ingredients.hopFormats">
                <a ng-click="item.format = format"
                   ng-bind="ingredients.i18n.formats[format]"></a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.aa" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">%</span>
        </div>
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              <span ng-bind="ingredients.i18n.moments[item.moment]"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="moment in ingredients.hopMoments">
                <a ng-click="item.moment = moment"
                   ng-bind="ingredients.i18n.moments[moment]"></a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.time" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">mn</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">g</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <span class="form-control text-right">
            {{ calc.hopBitterness(recipe, equipment, item) | number:1 }}
          </span>
          <span class="form-control-feedback">IBU</span>
        </div>
      </td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.hops, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Others -->
    <tr ng-repeat="item in recipe.others | orderBy:['-time','weight','name'] track by $index">
      <td></td>
      <td colspan="3">
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              <span ng-bind="ingredients.i18n.moments[item.moment]"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="moment in ingredients.otherMoments">
                <a ng-click="item.moment = moment"
                   ng-bind="ingredients.i18n.moments[moment]"></a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.time" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">mn</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">g</span>
        </div>
      </td>
      <td></td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.others, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Yeast -->
    <tr ng-repeat="item in recipe.yeast track by $index">
      <td></td>
      <td colspan="7">
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.yeast, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

