<div class="form-group">
  <div class="btn-group yamm ingredients-menu" uib-dropdown on-toggle="query = ''">
    <button class="btn btn-default" uib-dropdown-toggle>
      <span class="glyphicon glyphicon-plus-sign"></span>
      Ingrédients
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu yamm-content" uib-dropdown-menu>
      <div class="row">
        <input type="text" ng-model="query" placeholder="Rechercher"
               class="form-control" ng-click="$event.stopPropagation()">
        <div class="row">
          <div class="col-sm-3">
            <h3>Malt/Extrait</h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.fermentables | filter:{name:query} | orderBy:'color'">
                <a ng-click="addFermentable(recipe, item)">
                  <span class="glyphicon glyphicon-grain"
                        ng-style="{'color': bh.srmToCss(bh.ebcToSrm(item.color))}"></span>
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3>Houblon</h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.hops | filter:{name:query}">
                <a ng-click="addHop(recipe, item)">
                  <span class="glyphicon glyphicon-leaf"
                        style="color: #8c8;"></span>
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3>Levure</h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.yeast | filter:{name:query}">
                <a ng-click="recipe.yeast.push(copy(item));">
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3>Autre</h3>
            <ul class="ingredients-column">
              <li ng-repeat="item in ingredients.others | filter:{name:query}">
                <a ng-click="addOther(recipe, item)">
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table" ng-show="numberOfIngredients(recipe) > 0">
  <thead>
    <th class="col-md-1"></th>
    <th class="col-md-3">Nom</th>
    <th class="col-md-1">Format</th>
    <th class="col-md-1 text-right">%&alpha;</th>
    <th class="col-md-2">Moment</th>
    <th class="col-md-1 text-right">Durée</th>
    <th class="col-md-1 text-right">Quantité</th>
    <th class="col-md-1 text-right">%/IBU</th>
    <th class="col-md-1"></th>
  </thead>
  <tbody>
    <!-- Fermentables -->
    <tr ng-repeat="item in recipe.fermentables | orderBy:['-weight','color','name']">
      <td>
        <span class="form-control">
          <span class="glyphicon glyphicon-grain"
                ng-style="{'color': bh.srmToCss(bh.ebcToSrm(item.color))}"></span>
        </span>
      </td>
      <td>
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td colspan="4"></td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">kg</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <span class="form-control text-right">
            {{ ((item.weight * item.yield / recipeWeightYielded(recipe)) || 0) | number:0 }}
          </span>
          <span class="form-control-feedback">%</span>
        </div>
      </td>
      <td class="text-right">
        <div class="form-control">
          <a class="action text-danger" ng-click="remove(recipe.fermentables, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Hops -->
    <tr ng-repeat="item in recipe.hops | orderBy:['-time','weight','name']">
      <td>
        <span class="form-control">
          <span class="glyphicon glyphicon-leaf" style="color: #8c8;"></span>
        </span>
      </td>
      <td>
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              {{ hopFormats[item.format] }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(format, name) in hopFormats">
                <a ng-click="item.format = format">{{ name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.aa" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">%</span>
        </div>
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              {{ moments[item.moment] }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(moment, name) in moments">
                <a ng-click="item.moment = moment">{{ name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.time" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">mn</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">g</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <span class="form-control text-right">
            {{ bitterness(item, calculations) || 0 | number:1 }}
          </span>
          <span class="form-control-feedback">IBU</span>
        </div>
      </td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.hops, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Others -->
    <tr ng-repeat="item in recipe.others | orderBy:['-time','weight','name']">
      <td></td>
      <td colspan="3">
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control">
          <div class="btn-group btn-group-xs" uib-dropdown>
            <button class="btn btn-default" uib-dropdown-toggle>
              {{ moments[item.moment] }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(moment, name) in moments">
                <a ng-click="item.moment = moment">{{ name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.time" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">mn</span>
        </div>
      </td>
      <td>
        <div class="has-feedback">
          <input type="number" step="any" class="form-control text-right"
                 ng-model="item.weight" ng-model-options="{ updateOn: 'blur' }" />
          <span class="form-control-feedback">g</span>
        </div>
      </td>
      <td></td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.others, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
    <!-- Yeast -->
    <tr ng-repeat="item in recipe.yeast">
      <td></td>
      <td colspan="7">
        <input class="form-control" ng-model="item.name"
               ng-model-options="{ updateOn: 'blur' }" />
      </td>
      <td>
        <div class="form-control text-right">
          <a class="action text-danger" ng-click="remove(recipe.yeast, item)">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

